::deep tr {
    height: 3em;
}

    ::deep tr > td {
        vertical-align: middle;
    }


body, html {
    height: 100%;
}

.mainContent {
    background-image: url("sandDune1.webp");
    position:relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}




