::deep tr {
    border-color: rgba(117, 106, 99, .5);
    border-width: .2em;
    background-color: rgba(200, 200, 200, 0.5);
    max-height : 7em;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    table-layout: fixed;
    
}

    ::deep tr > td {
        vertical-align: middle;
        font-weight: 550;
        color: rgb(119, 85, 42);
        background-color: rgba(219, 198, 184, 0.3);
        max-height : 7em;
        max-width: 10em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        table-layout: fixed;
    }

    ::deep tr > th {
        background-color: rgba(219, 198, 184, 0.3);
        table-layout: fixed;
    }

::deep tbody {
   table-layout: fixed;
}

::deep .quickgrid {
    font-family: 'Macondo';
    text-overflow: ellipsis;
    overflow: hidden;
    
}

    ::deep .quickgrid .col-title {
        gap: 0.4rem; /* Separate the sort indicator from title text */
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(119, 85, 42);
        text-overflow: ellipsis;
        overflow: hidden;
    }

    ::deep .quickgrid .passageClass {
        width : 60em;
        height : 7em;
        text-overflow: ellipsis;
        overflow: hidden;
        table-layout: fixed;
    }


body, html {
    height: 100%;
}

.mainContent {
    position: relative;
    box-sizing: border-box;
    
}

.backgroundImg {
    background-image: linear-gradient(rgba(200, 200, 200, 0.7)), url("sandDune5CopyrightFREE.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quickGridDiv {
    margin: 5em;
}

.filterDiv {
    padding: 5em;
}

.title {
    justify-content: center;
    justify-items: center;
    text-align: center;
}

h1 {
    padding: .25em;
    padding-top: .50em;
    justify-content: center;
    justify-self: center;
    text-align: center;
    font-family: 'Herbertarian';
    font-weight: bolder;
    font-size: 100px;
    color: rgb(119, 85, 42);
}

@font-face {
    font-family: 'Herbertarian';
    src: url("OrthodoxHerbertarian.ttf");
}

