::deep tr {
    height: 5em;
    border-color: burlywood;
    border-width: .2em;
    opacity: 70%;

}

    ::deep tr > td {
        vertical-align: middle;
        font-weight: 550;
        color: rgb(119, 85, 42);
    }

::deep .quickgrid {
    font-family: 'Macondo';
}

    ::deep .quickgrid .col-title {
        gap: 0.4rem; /* Separate the sort indicator from title text */
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(119, 85, 42);
    }


body, html {
    height: 100%;
}

.mainContent {
    position: relative;
    box-sizing: border-box;
    
}

.backgroundImg {
    background-image: url("sarahmarinophoto@gmail.comSandDune4.jpg");
    opacity: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quickGridDiv {
    margin: 5em;
}

.filterDiv {
    padding: 5em;
}

.passageText {
    padding-left: 2em;
}

h1 {
    padding: .25em;
    justify-self: center;
    font-family: 'Herbertarian';
    font-weight: bolder;
    font-size: 100px;
    color: rgb(119, 85, 42);
}

@font-face {
    font-family: 'Herbertarian';
    src: url("OrthodoxHerbertarian.ttf");
}