[b-5omq9k269d] tr {
    height: 5em;
    border-color: burlywood;
    border-width: .2em;
    opacity: 70%;

}

    [b-5omq9k269d] tr > td {
        vertical-align: middle;
        
    }


body[b-5omq9k269d], html[b-5omq9k269d] {
    height: 100%;
}

.mainContent[b-5omq9k269d] {
    position: relative;
    box-sizing: border-box;
    
}

.backgroundImg[b-5omq9k269d] {
    background-image: url("sandDune4.jpg");
    opacity: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quickGridDiv[b-5omq9k269d] {
    margin: 5em;
}

.filterDiv[b-5omq9k269d] {
    padding: 5em;
}

.passageText[b-5omq9k269d] {
    padding-left: 2em;
}

